@charset "utf-8";
/* CSS Document */

/* Grundlayout für SELFHTML-Beispiele */

@import url(https://fonts.googleapis.com/css?family=Montserrat);

html {
  background: white;
  color: darkblue;	
}

body {
  margin: 1em auto;
  max-width: 65em;
}

header, button, nav, nav a, article, section, aside, footer {
  padding: 1em;
  margin: 1em;	
  border-radius: 0 0.5em 0.5em;
  border: 1px solid;
}

h1, h2 {
  padding-bottom: 0;
  font-family: 'Montserrat', sans-serif;  
}

#logo {
 display:inline-block;
 text-shadow: none; color: transparent;
 background:url(../img/logo-boot.svg);
 width:100px;
 height:100px;
}

h1::after {
  content: "- Fischer's friend";
}

article img {
	width: 33%;
	float: right;
	margin-left: 0.2em;
}

figure {
  display: inline-block;
  width: 30%;
  margin: 0.2em;
}
figure img {
  width: 100%;
}
figure figcaption {
  font-style: italic;
}

#styleswitcher  ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

#styleswitcher  li {
  margin: 0;
  padding: 0;
}

#styleswitcher button {
  width: 12em;
  margin: 0.1em;
}

nav a, #styleswitcher button {
  background: #e6f2f7;
  border-color: darkblue;
  color: darkblue;
}

/* nav a wegen der Fischform in Zeile ... */

a {
  color: darkblue;
}

header {
  border-color: transparent;
  padding: 0 1em;
  margin: 0 1em;
}

section {
  border-color: transparent;
}
article {
  border-color: transparent;
}
aside {
  border-color: transparent;
}
footer {
  border-color: transparent;
}

table, th, td { 
  border: 1px solid; 
  border-collapse: collapse; 
}


/* responsives Layout */

body {
  display: flex;
  flex-flow: row wrap;
}

/* Mobile first - alle Dokument-Blöcke bekommen 100% Breite */
header, button, nav, nav a, article, section, aside, footer {
  flex: 1 100%;
}

header {
  display: flex;
  flex-flow: row wrap;
}
header * {
  flex: 1 1 0%;
}

header img {
  flex: 0 0 150px;
  margin-right: 20px;
}
header nav {
  flex: 1 1 100%;
  background: url(../img/wave.svg);
  background-size: 8.8em 8.8em;
  padding: 2em;
}

nav, nav ul, nav li{
  margin: 0;
  padding: 0;
  border: none;
}
nav ul {
  display: flex;
  flex-direction: column;
}
nav li {
  list-style-type: none;
  margin: 1.3em 0;
  flex: 1 1 100%;
}

nav a {
  display: inline-block;
  position: relative;	  
  width: 65%;
  margin: 0 3em 0 0;
  padding: 0.25em;
  text-decoration: none;
  text-align: center;
  border-radius: 50% 50% 50% 50%;
  border: 0;
}


[aria-current=page] {
	font-weight:bold;
}

a:hover,
a:focus,
nav a:hover, nav a:focus, 
#styleswitcher button:hover, #styleswitcher button:focus {
  background: #ffebe6;
  color: #c32e04;
}

footer {
  display: flex;
  flex-flow: row wrap;
}
footer * {
  flex: 1 1 0%;
  justify-content: space-between;
}
footer p {
  text-align: right;
}
/* Smart Phones und Tablets mit mittlerer Auflösung */
@media all and (min-width: 35em) {
  header img {
    margin-right: 50px;
  }
  nav ul {
    flex-direction: row;
  }
  nav li {
    margin: 0 1em;
    flex: 1 1 0%;
  }
  article {
    order: 2;
  }

  #news {
    flex: 1 auto;
    order: 3;
  }

  aside {
    /* durch auto werden die beiden asides in eine Zeile gesetzt */
    flex: 1 auto;
    order: 4;
  }
  
  footer {
    order: 5;
  }
}

     /* Large screens */
@media all and (min-width: 50em) {
  article {
    /* Der Article wird 4x so breit wie die beiden asides! */
    order: 3;
    flex: 4 1 0%;
  }
  
  aside {
    flex: 1 1 0%;
  }
  
  #news {
    flex: 1 1 0%;
    order: 2;
    align-self: center;
    height: 12em;
  }
}

/* Terminkalender */

table, th, td { 
  width: 100%;
  border: 1px solid; 
  border-collapse: collapse; 
  color: darkblue;
}

th, td {
	padding: .5em;
}

th {
	background: darkblue;
	color: white;
}

caption {
	caption-side: bottom;
	font-style: italic;
}



